<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Test SCSS{% endblock %}</title>
    {% block stylesheets %}    {% endblock %}

    {% stylesheets filter="scssphp" output="assets/css/style.css"
             "assets/scss/style.scss"
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('orig_style.css') }}"/>#}

    {#<link rel="stylesheet" href="assets/css/style.css"/>#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
